mixin passwordInput(label, id, name, inputContainerClass, inputClass, labelClass, placeholder)
    div.input
        if label
            label(
                class=`input__label ${labelClass || ""}`
                for=id
                )= label
        div(class=`input-container ${inputContainerClass || ""}`)
            input(
                type="password"
                class=`input__field ${inputClass || ""}`
                id=id
                name=name
                placeholder=placeholder
            )
            button(type="button" class="input-container__eye-hide-icon")
