extends ../components/html-head/html-head.pug
include ../../components/inputs/text/text-input.pug
include ../../components/inputs/email/email-input.pug
include ../../components/inputs/phone/phone-input.pug
include ../../components/inputs/password/password-input.pug
include ../../components/error-form/error-form
include ../../components/form-button/form-button.pug

block title
    title='Chatly - sign in form'
block links
    link(rel="stylesheet", href="signin.scss")

block content
    form.form
        p(class="form__welcome-text")="Welcome to "
            span="Chatly"
        img(class="form__img" src="../../../static/assets/img/welcome.png" alt="Welcome to Chatly")
        hr.line
        h1(class="form__title")="Sign in"
        +textInput("Login", "login", "login", "mb-5")
        +passwordInput("Password", "password", "password", "mb-5")
        div(class="form__button-container")
            +errorMessage(null, "form__error-text")
            +formButton("submit","Sign in", "mt-30 mb-20")
        a(href="../signup/signup.pug" class="form-button form__button-signup")="Sign up"
