form(class="form" id="form")
    p(class="form__welcome-text")="Welcome to "
        span="Chatly"
    img(class="form__img" src=welcomeImgSrc alt="Welcome to Chatly")
    hr.line
    h1(class="form__title")="Sign in"
    textInputComponent
    loginErrorMessage
    passwordInputComponent
    passwordErrorMessage
    formButtonComponent
    a(href="../signup" class="form-button form__button-signup")="Sign up"
