form.form
    p(class="form__welcome-text")="Welcome to "
        span="Chatly"
    img(class="form__img" src=welcomeImgSrc alt="Welcome to Chatly")
    hr.line
    h1(class="form__title")="Sign in"
    TextInput
    PasswordInput
    div(class="form__button-container")
        ErrorMessage
        FormButton
    a(href="../signup/signup.pug" class="form-button form__button-signup")="Sign up"
